h1{
    font-family: 'Poppins', sans-serif;
    font-size: 35px; 
}
h2{
    color: chocolate;
    font-size: 25px;
}
span{
    color: chocolate;
}
.flaxiable-container{

    display: flex;
    margin-bottom: 150px;
}
.half{
    width: 50%;
   padding-left: 5%;
}
.half img{
    width: 75%;
    padding-top: 10% ;
}
.link-button{
    text-decoration: none;
    color:whitesmoke;
    border-radius: 10px;
    background-image: linear-gradient(tomato, orange);
   font-weight: 400;
    padding: 10px 30px;
}
.new{
    background-image: url(img1.jpg);
    background-repeat: no-repeat;
    background-position: right;
}
.new img{
    padding-left: 20px;
}
.new-area{
    width: 100%;
    display: -ms-inline-flexbox;
}

.item{
  width: 50%; 
  margin-left: 5%;
  margin-right: 5%;
 padding-left: 20px;
box-shadow: 5px 5px 25px blue, 10px 10px 25px red, 15px 15px 25px green;
  

} 
    .change{
        display: flex;
        padding: 10px 10px; 
    }
   #change{
    box-shadow: 5px 5px 30px rgb(66, 50, 205), 10px 10px 30px rgb(47, 206, 255), 15px 15px 30px rgb(0, 115, 128);
    padding-right: 5px;
  
   
   }
    
    

    
#steck{
    border-left: 7px solid tomato;
}
footer{
    text-align: center;
    
}